#pchange_container {
	width: 500px;
	margin: auto;
}

#pwchange_box {
	background:url(../../img/passwordchange/change_pass_back.png) no-repeat bottom;
	padding-top:80px;
	height: 600px;
	/*padding-top: 250px;
	padding-left: 45px;*/
}

.box_title {
	text-align: center;
	color: white;
	padding-top: 15px;
	font-size: 20px;
	font-weight: bold;
}

.pas_spacer {
	height: 40px;
}

.pass_label {
	background:url(../../img/common/pass_label.png) no-repeat;
	width: 200px;
	height: 31px;
	color: white;
	padding-top: 8px;
	text-align: center;
}

.pass_pos {
	padding-top: 30px;
	padding-left: 100px;
}

.err-margin {
	margin-left: 100px;
	margin-top: 10px;
}